.timeout-hand {
  width: 15px;
  height: 90px;
  position: absolute;
}

.score-hand {
  transition: transform 0.5s ease-out;
}

.home-score.new-score {
  transform: translateY(-100%);
}

.guest-score.new-score {
  transform: translateY(-100%);
}

.home-score.old-score {
  transform: translateY(100%);
}

.guest-score.old-score {
  transform: translateY(100%);
}
.texte-exclution {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
.faute-exclution {
  position: absolute;
  font-size: 1em;
  color: #ebff00;
}
