[Unit]
Description=Display Service
After=network.target

[Service]
Type=simple
User=STRAMATEL
WorkingDirectory=/home/STRAMATEL/builds/builds/
ExecStart=/bin/bash /home/STRAMATEL/builds/builds/startDisplay.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

