[Unit]
Description=Frontend Service
After=network.target

[Service]
Type=simple
User=stramatel
WorkingDirectory=/home/stramatel/server/build/frontend
ExecStart=/bin/bash /home/stramatel/server/build/frontend/startFrontend.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

