.scoreboard {
  width: 512px !important;
  height: 256px !important;
  position: absolute;
  background: #005239 !important;
}

.container-tennis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;
}

.score-tennis {
  margin-top: 12px;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.score-tennis td:first-child {
  width: 20%;
}

tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.set-cell {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.player-top {
  top: 186px;
}

.player-bottom {
  top: 85px;
}

.player-margin {
  margin-left: 5px;
  margin-right: 5px;
}

.logo {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.tr-text {
  border-radius: 5px;
  background: #242121;
  opacity: 0.9;
}

.set-score {
  display: flex;
  border-radius: 5px;
  width: 40px;
  height: 60px;
  background: #242121;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #c96d06;
  font-size: 38px;
  font-weight: 700;
}


.set-text {
  display: flex;
  width: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  font-weight: 700;
  color: white;
}

.score:last-child {
  width: 100px;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10px;
  min-height: 10px;
  border-radius: 9999px;
  margin-left: 10px; /* Décalage vers la droite */
}

.set-player-name {
  display: flex;
  min-width: 165px;
  height: 20px;
  justify-content: center;
  align-items: center;
  color: #005239;
  font-weight: 700;
}

.player-name {
  color: #c96d06;
  font-weight: 700;
}

.score-background {
  width: 50px;
  height: 60px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #242121;
}

.sets {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.set,
.points {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 41px;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 700;
}



.setimage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  top: 5px;
  font-size: 20px;
  font-weight: 700;
}

.point {
  min-width: 100px !important;
}

.score {
  font-size: 54px;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 65px;
  background: #242121;
  text-align: center;
  color: white;
  font-size: 54px;
  font-weight: 700;
}

@keyframes blink {
  0%,
  50% {
    visibility: visible;
  }
  51%,
  100% {
    visibility: hidden;
  }
}

.blinking {
  animation: blink 1s steps(1, start) infinite;
}
