.scoreboard {
  width: 512px !important;
  height: 256px !important;
  position: absolute;
  background: #005239 !important;
}
.container-tennis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;
}
.score-tennis {
  margin-top: 12px;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse; /* Ajouté pour centrer les cellules */
}

.score-tennis td, .score-tennis th { /* Centrer le contenu des cellules */
  text-align: center;
  vertical-align: middle;
}

tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.set-score {
  display: flex;
  width: 50px; /* Uniformiser la largeur */
  height: 60px;
  background: #242121;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #c96d06;
  font-size: 38px;
  font-weight: 700;
}
.set-text {
  display: flex;
  width: 50px; /* Uniformiser la largeur */
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: white;
}
.score:last-child {
  width: 100px;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
  border-radius: 9999px;
  margin-left: 10px; /* Décalage vers la droite */
}

.player-name {
  color: #c96d06;
  font-weight: 700;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 65px;
  background: #242121;
  text-align: center;
  color: white;
  font-size: 54px;
  font-weight: 700;
}

@keyframes blink {
  0%, 50% {
    visibility: visible;
  }
  51%, 100% {
    visibility: hidden;
  }
}

.blinking {
  animation: blink 1s steps(1, start) infinite;
}
