.side-numbers {
  width: 50%;
  position: absolute;
}

.side-number {
  height: 28px;
  text-align: center;
  color: white;
  font-size: 32px;
  font-family: "D-DIN-Bold", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}
