.container {
  width: 100%;
  height: 100%;
  position: relative;
  background: black;
}

.home-container {
  width: 291px;
  height: 256px;
  left: 0;
  top: 0;
  position: absolute;
}

.score-in {
  /* no warp */
  overflow: hidden;
  animation: text-animation-in 0.5s ease-in-out;
}

.score-out {
  /* no warp */
  overflow: hidden;
  animation: text-animation_out 0.5s ease-in-out;
}

.container-score-guest-volleyball {
  width: 226px;
  height: 93px;
  position: absolute;
  overflow: hidden;
}
/* Define the keyframes for the animation */
@keyframes text-animation-in {
  0% {
    margin-top: -11.24rem;
  }

  100% {
    margin-top: 0;
  }
}
@keyframes text-animation_out {
  0% {
    margin-top: 0;
  }

  100% {
    margin-top: 11.24rem;
  }
}

.home-text {
  width: 226px;
  height: 100px;
  left: 0px;
  top: 90px;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 45px;
  font-family: "LiberationMono-Bold";
  font-weight: 700;
  word-wrap: break-word;
}

.home-number {
  width: 226px;
  height: 100px;
  left: 0px;
  top: 0px;
  position: absolute;
  text-align: center;
  color: #ff0000;
  font-size: 100px;
  font-family: "D-DIN-Bold";
  font-weight: 700;
  word-wrap: break-word;
}

.side-numbers {
  width: 76px;
  height: 256px;
  left: 0;
  top: 0;
  position: absolute;
}

.side-number {
  width: 76px;
  height: 64px;
  left: 0;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 48px;
  font-family: "D-DIN-Bold", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}

.guest-container {
  width: 290px;
  height: 256px;
  left: 223px;
  top: 0;
  position: absolute;
}

.guest-text {
  width: 226px;
  height: 56px;
  left: 286px;
  top: 90px;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 45px;
  font-family: "LiberationMono-Bold";
  font-weight: 700;
  word-wrap: break-word;
}

.guest-number {
  width: 226px;
  height: 100px;
  left: 0px;
  top: 0px;
  position: absolute;
  text-align: center;
  color: #ff0000;
  font-size: 100px;
  font-family: "D-DIN-Bold";
  font-weight: 700;
  word-wrap: break-word;
}

.green-number {
  width: 26px;
  height: 96px;
  left: 244px;
  top: 0;
  position: absolute;
  text-align: center;
  color: #00a13b;
  font-size: 60px;
  font-family: "D-DIN-Bold", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}

.time {
  width: 237px;
  height: 64px;
  left: 138px;
  top: 130px;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 96px;
  font-family: "D-DIN-Bold", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}

.image {
  width: 130px;
  height: 21px;
  left: 192px;
  top: 225px;
  position: absolute;
}
